@media (max-width: 668px) {
  .container {
    max-width: 600px;
  }
  // Header
  header {
    margin-bottom: 5rem;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .header-title-content {
      border-bottom: 1px solid #ccc;
      padding: 2rem 0;

      h2 {
        font-size: 1.5rem;
      }
      p {
        color: $desaturated-blue-text;
        font-size: 0.8rem;
        font-weight: 700;
        opacity: 0.8;
      }
    }

    .theme-toggle {
      padding-top: 1rem;
      display: flex;
      justify-content: space-between;
      width: 55%;

      p {
        color: $desaturated-blue-text;
        font-weight: 700;
      }
    }
  }

  // Follower Section
  main {
    justify-content: center;
    align-items: center;

    .follower-cards {
      grid-template-columns: 1fr;
      margin: 0 8rem;

      .follower-card {
        width: 20rem;
      }
    }

    .overview {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 4rem;
      .title {
        margin: 2rem 0;
        text-align: left;
      }
      .overview-cards {
        grid-template-columns: 1fr;

        .card {
          width: 20rem;

          .left-content {
            justify-content: start;

            .title {
              // margin-bottom: 3rem;
              text-align: left;
            }
          }

          .right-content {
          }
        }
      }
    }
  }
}
