// Font Family
$font-family: "Inter", sans-serif;

// Primary Colors
$Lime-Green: hsl(163, 72%, 41%);
$Bright-Red: hsl(356, 69%, 56%);

$Facebook-color: hsl(208, 92%, 53%);
$Twitter-color: hsl(203, 89%, 53%);
$Instagram-color: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
$YouTube-color: hsl(348, 97%, 39%);

// Dark Theme
$Toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

// Light Theme
$Toggle-light: hsl(230, 22%, 74%);

// Dark Theme
$Very-Dark-BG-Blue: hsl(230, 17%, 14%);
$Very-Dark-Header-Blue: hsl(232, 19%, 15%);
$Dark-card-bg: hsl(228, 28%, 20%);
$Desaturated-Blue-Text: hsl(228, 34%, 66%);
$White: hsl(0, 0%, 100%);

// Light Theme
$Very-Pale-BG-Blue: hsl(225, 100%, 98%);
$Light-card-bg: hsl(227, 47%, 96%);
$Dark-Grayish-text: hsl(228, 12%, 44%);
$Very-Dark-Text: hsl(230, 17%, 14%);
