@import "root";

body {
  background-color: $Very-Dark-BG-Blue;
  height: 100vh;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

// Attribution
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@import "media";
